    <mat-card class="weather-card" *ngFor="let day of currentWeather.getData()">
      <div *ngIf="isFarenhieht">
        <h3 class="day">{{day.day}}</h3>
        <div class="temps"><img alt="weather icon" class="weather-icon" src="../../assets/{{day.icon}}"> {{day.minF}}&#8457; {{day.maxF}}&#8457;</div>
      </div>
      <div *ngIf="!isFarenhieht">
          <h3 class="day">{{day.day}}</h3>
          <div class="temps"> <img alt="weather icon" class="weather-icon" src="../../assets/{{day.icon}}"> {{day.minC}}&#8451; {{day.maxC}}&#8451;</div>
      </div>
    </mat-card>
