.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.toolbar{
  vertical-align: middle;
}

#toolbar-logo{
  margin-left: 20px;
}

#city-name{
  margin-left: 10px;
  display: inline;
  vertical-align: middle;

}

.title{
  width: 200px;
}

.search {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  margin-top:20px;
  padding: 0px;
}

.text-search{
  vertical-align: middle;
}

button{
  margin-left: 10px;
}

.weather-data{
  margin-bottom: 100px
}
mat-slide-toggle{
  vertical-align: middle;
}
.unit{
  vertical-align: middle;
  display: inline;
  margin: 10px;
}

.unit-switch{
  display: inline;
}